.comments-area
{
	margin: auto;
	margin-bottom: 25px;
	max-width: 780px;
	padding: 25px;
	width: 100%;
}

.comment-list
{
	padding-top: 25px;
	
	.media-body
	{
		.comment-meta
		{
			font-size: 12.8px;
			margin-bottom: 8px;
		}
	
		p
		{
			font-size: 16px;
			margin-bottom: 8px;
		}
		
		.reply
		{
			font-size: 12.8px;
		}
	}
}