.cover
{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	width: 100%;
}

.cover-repeat
{
    background-repeat: repeat;
    background-size: auto;	
}

.cover-full
{
	height: 100vh;
	min-height: 950px;
}

.cover-half
{
	height: 50vh;
}

.cover-quarter
{
	height: 20vh;
}

.cover-overlay
{
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.cover-heading
{
	animation: fadeInUp 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	color: white;
	font-family: $triangle-font-main;
	font-size: 4.50rem;
	font-weight: 700;
	line-height: 5rem;
	margin: 0 auto 1rem;
	text-align: center;
	width: 100%;
}
	
.cover-caption
{
	animation: fadeInUp 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	color: white;
	font-size: 18px;
	text-align: center;
	width: 100%;
	
	span
	{
		display: inline-block;
		width: 100%;
	}
}

@keyframes fadeInUp
{
    from
	{
        transform: translate3d(0, 60px, 0);
		opacity: 0;
    }

    to
	{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}