//--------------------------------------------------------------------------------
//
//	Triangle Fonts
//
//--------------------------------------------------------------------------------

$triangle-font-logo: Roboto Slab, Helvetica, Arial, sans-serif;
$triangle-font-main: 'Roboto Slab', sans-serif;
$triangle-font-headline: 'Playfair Display', serif;
$triangle-font-copy: 'Crimson Text', serif;
$triangle-font-image: 'Montserrat', sans-serif;

//--------------------------------------------------------------------------------
//
//	Triangle Colors
//
//--------------------------------------------------------------------------------

/* Main Triangle color used in header, footer, and other colored elements */
$triangle-color-blue: #07294D;

/* Blue color for hovering over elements */
$triangle-color-light: #0a3d72;

//--------------------------------------------------------------------------------
//
//	Sizes
//
//--------------------------------------------------------------------------------

$screen-target-min: 975px;