//--------------------------------------------------------------------------------
//
//	Triangle Fonts
//
//--------------------------------------------------------------------------------

$triangle-font-logo: Roboto Slab, Helvetica, Arial, sans-serif;
$triangle-font-main: 'Roboto Slab', sans-serif;
$triangle-font-headline: 'Playfair Display', serif;
$triangle-font-copy: 'Crimson Text', serif;
$triangle-font-image: 'Montserrat', sans-serif;

//--------------------------------------------------------------------------------
//
//	Triangle Colors
//
//--------------------------------------------------------------------------------

/* (Legacy, use $triangle-blue) Main Triangle color used in header, footer, and other colored elements */
$triangle-color-blue: #07294D;

/* Triangle Blue colors as defined in the style guide */
$triangle-blue: $triangle-color-blue;
$triangle-blue-t1: #165A97;
$triangle-blue-t2: #3F9CCC;
$triangle-blue-t3: #6AAED4;
$triangle-blue-t4: #DCF1FB;

/* Triangle Black/Gray colors as defined in the style guide */
$triangle-black: #2B2E34;
$triangle-gray-50: #9A9B9F;
$triangle-gray-30: #C4C4C6;
$triangle-gray-10: #EBECEC;
$triangle-white: white;

/* Triangle Gold colors as defined in the style guide */
$triangle-gold: #E4AE2A;
$triangle-gold-t1: #FFD53B;
$triangle-gold-t2: #FFE78C;


//--------------------------------------------------------------------------------
//
//	Sizes
//
//--------------------------------------------------------------------------------

$screen-target-min: 975px;