.image-background
{
	background: linear-gradient(black, black);
}

.image-fullpage
{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	min-height: 950px;
	text-align: center;
	width: 100%;
	
	.image-overlay
	{
		align-items: center;
		animation: fadein 2s;
		display: flex;
		padding-top: 20vh;
	}
	
	.title
	{
		color: white;
		display: inline-block;
		font-size: 4.50rem;
		font-weight: 700;
		line-height: 5rem;
		margin: 0 auto 1rem;
		text-align: center;
		width: 100%;
	}
	
	.caption
	{
		color: white;
		display: inline-block;
		font-size: 18px;
		text-align: center;
		width: 100%;
		
		span
		{
			display: inline-block;
			width: 100%;
		}
	}
}

.image-card-container
{
	animation: fadein 2s;
	display: inline-block;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	width: auto;
}

.image-card
{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 200px;
	margin-left: 25px;
	margin-right: 25px;
	max-width: 346px;
	transition: .2s ease all;
	width: 365px;
	
	&:hover
	{
		transform: scale(1.10);
		transition: .2s ease all;
	}
}

.image-digital
{
	background-image: url("images/backgrounds/digital-background.jpg");
	background-size: 70% 70%;
	min-height: 100vh;
}

@keyframes fadein
{
    from { opacity: 0; }
    to   { opacity: 1; }
}