.page-container
{
	font-size: 20px;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 25px;
	padding-top: 25px;
}

.page-heading
{
	margin-bottom: 24px;
}

@media screen and (max-width: $screen-target-min)
{
	.page-container
	{
		box-sizing: border-box;
		padding: 25px;
	}
}